@import url(leftside.css);
@import url(rightside.css);
@import url(app.css);
@import url(main.css);

:root {
  --green: #04c35c;
  --blue: #2b6cb0;

  --white: #ffffff;
  --white300: #f7fafc;

  --dark: #1a202c;
  --input: #e8e8e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.sr .load-hidden {
  visibility: hidden;
}

body, button, textarea {
  /* color: black; */
  font: 400 1rem "Lato", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, 
input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}