@import url(header.css);
@import url(app.css);
@import url(main.css);
@import url(buttons.css);

:root {
  --green: #628E75;
  --gradient: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
  --white: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.sr .load-hidden {
  visibility: hidden;
}

body, button, textarea {
  color: var(--white);
  font: 400 1rem "Poppins", sans-serif;
}

body {
  background: var(--gradient);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, 
input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}