.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 40px 0 75px 0;
}

.logo img{
  width: 100px;
  cursor: pointer;
}

.nav {
  display: flex;
}

.nav li {
  padding: 10px 15px;
}

@media (max-width: 1080px) {
  .header__menu {
    margin: 14px 0 0px 0;
  }

  .nav li {
    padding: 5px 10px;
  }

  .nav li:last-child {
    padding-right: 0;
  }
  
  .nav li img {
    width: 20px;
  }
}